[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "*"
requests = "*"
bs4 = "*"

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.13"
